[Desktop Entry]
Type=Application
Name=Downloads
Comment=Show recent downloads
Exec=@HOME@/.local/bin/downloads-stack
Icon=folder-download
NoDisplay=true
StartupNotify=false
Actions=open;

[Desktop Action open]
Name=Open in Files
Exec=nautilus @HOME@/Downloads
