[Desktop Entry]
Type=Application
Name=System Settings
GenericName=OmaSettings
Comment=Appearance, bar, windows, keyboard, trackpad, displays, sound, network and more
Exec=omarchy-shell omasettings toggle
TryExec=omarchy-shell
Icon=preferences-system
Terminal=false
StartupNotify=false
Categories=Settings;DesktopSettings;HardwareSettings;
Keywords=settings;preferences;omasettings;omarchy;hyprland;appearance;bar;keyboard;trackpad;audio;display;
