[Desktop Entry]
Type=Application
Name=Trash
Comment=Open the Trash
Exec=nautilus trash:///
Icon=user-trash
NoDisplay=true
StartupNotify=false
Actions=empty;

[Desktop Action empty]
Name=Empty Trash
Exec=gio trash --empty
